---
extends: default

rules:
  line-length:
    max: 200
    allow-non-breakable-words: true
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0
  document-start: disable
  truthy: disable
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  comments-indentation: false
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
